body{
		background-color: #FBFCF7;
}

h1, h2, h3, h4, h5, h6{
	color: #B86800;
}
nav{
	background-color: #EC8806;
}

nav a{
	
	color: #8A0E00;
}

a{
	color: #B86800;
}

header{
	color: #8A0E00;
	background-image: url('/images/ENDELSEBEGIN_RED.png');
}

.TheAudience{
	color: #B86800;
}