body{
	
		background-color: #FCF7F2;
}

h1, h2, h3, h4, h5, h6{
	color: #705C48;
}

nav{
	background-color: #B4CC81;
}

nav a{
	color: #705C48;
}

a{
	text-decoration: none;
	color: #91765C;
	font-weight: bold;
}

header{
	color: #91765C;
	background-image: url('/images/ENDELSEBEGIN_BROWN.png');
}

.TheAudience{
	color: #31690D;
}