---
layout: homepage
title: ENDELSEBEGIN - Search
desc: I made a blog. Occasionally, I write things.
keywords: ENDELSEBEGIN, Controversatory, The Worthful Blog, Non-Ob Blog, Sarah Murto, Search
---
<div id="app" class="search-form">
  <label for="search_field">Whatcha lookin' for?</label>
  <input type="text" id="search_field" v-model="search_query" v-on:keyup.enter="search">
  <button v-on:click="search">Search</button>
  <span style="color: #17C5E8;">&#10002; Non-Ob Blog</span>
  <span style="color: navy;">&#10019; Controversatory</span>

  {% raw %}
  <ul id="search_result_list">
    <li v-for="result in results" v-bind:class="result.category"><a v-bind:href="result.url">{{ result.title }}</a> - {{ result.date }}<br/>{{ result.desc }}<br/><span class="cite">Tags: {{ result.tags }}</span></li>
  </ul>
  {% endraw %}
</div>

<script src="{{ site.baseurl }}/js/axios.min.js"></script>
<script src="{{ site.baseurl }}/js/vue.min.js"></script>
<script src="{{ site.baseurl }}/js/lunr.min.js"></script>
<script src="{{ site.baseurl }}/js/search.js"></script>