body{
		background-color: #FAFEFF;
}

h1, h2, h3, h4, h5, h6{
	color: #17C5E8;
}


nav a{

	color: #056180;
}

a{
	color: #048EBD;
}

header{
	color: #17C5E8;
	background-image: url('images/ENDELSEBEGIN_BLUE.png');
}

nav{
	background-color: #17C5E8;
}

.TheAudience{
	color: #056180;
}