<!DOCTYPE html>
<html>
<head>
	<title>ENDELSEBEGIN  {% if page.title != nil %} -
				{{ page.title }}
			{% endif %}
	</title>
	<link rel="stylesheet" href="{{ site.baseurl }}/{{page.css}}" />
	<meta name="description" content="{{page.desc}}">
	<meta name="keywords" content="{{page.keywords}}">
	<meta name="author" content="{{ site.author }}">
	<meta property="og:title" content="{{page.title}}"/>
	<meta property="og:site_name" content="ENDELSEBEGIN"/>
	<meta property="og:type" content="blog"/>
	<meta property="og:description" content="{{page.desc}}" />
	<meta property="fb:page_id" content="922898241092794" />
</head>
<body>
	{% include header.html %}
	{% include navigation.html %}
	<section id="middle">
		<div id="container">
			<section id="content">
			<p class="postdate">{{page.postDate}}</p>
			<h1>{{page.title}}</h1>
				{{ content }}
			</section>
		</div>
	</section>
	{% include footer.html %}
</body>
</html>
